<!DOCTYPE html>
<html>
<head>
    <title>Shops in {{ city.name }}</title>
</head>
<body>
    <h1>Shops in {{ city.name }}</h1>
    <ul>
        {% for shop in shops %}
        <li>
            {{ shop.name }} - {{ shop.type }}
            <a href="{{ url_for('shop.edit_shop', shop_id=shop.shop_id) }}">Edit Shop</a>
            <a href="{{ url_for('item.view_items_by_shop', shop_id=shop.shop_id) }}">View Items</a>
            <form method="POST" action="{{ url_for('city.delete_city', city_id=city.city_id) }}" style="display:inline;">
                <button type="submit" style="color: red;">Delete</button>
            </form>
            
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('shop.add_shop', city_id=city.city_id) }}">Add New Shop</a>
    <br>
    <a href="{{ url_for('city.home') }}">All Cities</a>
    <a href="/">Home</a>
</body>
</html>
