<!DOCTYPE html>
<html>
<head>
    <title>Game Master Dashboard</title>
</head>
<body>
    <h1>All Cities</h1>
    <ul>
        {% for city in cities %}
        <li>
            {{ city.name }} ({{ city.size }})
            <a href="{{ url_for('city.edit_city', city_id=city.city_id) }}">Edit</a>
            <a href="{{ url_for('shop.city_shops', city_id=city.city_id) }}">Manage Shops</a>
        </li>
        {% endfor %}
    </ul>
    <a href="/cities/add_city">Add a New City</a>    
    <a href="/">Back to Home</a>
</body>
</html>
